@use 'variables' as *;

@mixin heading-font {
  font-family: $font-primary;
  font-weight: bold;
  font-size: $font-heading;
}

@mixin body-font {
  font-family: $font-primary;
  font-weight: normal;
}
